@import "../abstracts/variables";

:root {
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  --bg: #ffffff;
  --bg-section-color: #f2f2f2;
  --section-header-color: #333333;
  --text-color: #4f4f4f;

  --range-color: #333333;
  --range-current-value-color: #33333;

  --logo-color: #333333;
  --nav-color: #333333;
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-section-color: #4f4f4f;
  --section-header-color: #fefefe;
  --text-color: #f2f2f2;

  --range-color: #fefefe;
  --range-current-value-color: #fefefe;

  --logo-color: #ffffff;
  --nav-color: #fefefe;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family:  $base-font-family, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background-color: var(--bg);
  color: black;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}
