@import "../abstracts/variables";

@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Regular.ttf")  format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Bold.ttf")  format("truetype");
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin: 0;
  font-size: 8.9rem;
  line-height: 10.4rem;
  letter-spacing: .05rem;
}

h3 {
  margin: 0;
  font-size: 4.8rem;
  line-height: 5.625rem;
  font-weight: $font-weight-bold;
  color: var(--section-header-color);
}

h4 {
  margin: 0;
  font-size: 2rem;
  line-height: 2.34rem;
  font-weight: $font-weight-bold;
  color: var(--section-header-color);
}

p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.641rem;
  font-weight: normal;
  color: var(--text-color);
}
