.favorite-animal {
  width: 100%;
  background: url("../../../assets/images/bg-fav-animal.jpg");
  background-size: cover;

  &__container {
    position: relative;
    flex-direction: column;
    padding: 20.6rem 0 43.3rem 36rem;
  }

  &__title {
    max-width: 79.3rem;
    color: $text-color-white;
  }

  &__btn {
    margin-top: 3.7rem;
  }

  &__slider {
    position: absolute;
    right: 0;
    bottom: 11.3rem;
  }

  &__social-networks {
    position: absolute;
    bottom: 11.1rem;
    left: 15rem;
  }
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10.7rem;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: flex;
  }

  &__icons {
    fill: #fefefe;
  }

  &__icons:hover {
    fill: #39a98d;
  }

  &__icons:active {
    fill: #2f8a74;
  }
}
