.inspiring {
  width: 100%;
  background-color: var(--bg-section-color);

  &__container {
    width: 120rem;
    padding: 10rem 0 12rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38rem;
  }

  &__image {
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__text{
    margin-bottom: 1.5rem;
  }
}
