.map {
  width: 100%;
  background: var(--bg-section-color);

  &__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
  }

  &__title {
    margin-bottom: 6rem;
  }

  &__world-map {
    margin-bottom: 3.5rem;
  }
}
