.night-mode {

  &__checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &__checkbox:checked + &__custom-checkbox {
    background: #4f4f4f;
  }

  &__checkbox:checked + &__custom-checkbox:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #1B1B1B;
  }

  &__custom-checkbox:active:after {
    width: 45px;
  }

  &__custom-checkbox {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #f2f2f2;
    float: right;
    border-radius: 100px;
    position: relative;
  }

  &__custom-checkbox:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 90px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    transition: 0.3s;
  }
}
