$base-font-size: 10px;
$base-font-family: 'Roboto';
$font-weight-normal: 400;
$font-weight-bold: 900;

//------text-color
$text-color-white: #ffffff;
$text-header-white-color: #fefefe;

//------btn-color
$btn-color-text: #ffffff;

//-----forms-color
$form-border-color: #bdbdbd;
$form-placeholder-color: #bdbdbd;
$form-checkbox-color: #39a98d;
$form-bg-color: #333333;
$form-text-color: #bdbdbd;


