.zoo-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130rem;

  &__slides {
    display: flex;
    justify-content: space-between;
    order: 2;
    width: 120.2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
  }

  &__arrow-left {
    order: 1;
  }

  &__arrow-right {
    order: 3;
  }
}

.pet-slide {
  position: relative;
  display: flex;
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    bottom: -10rem;
    padding: 0 2.2rem;
    transition: all 500ms ease-in;
  }

  &:hover {
    .pet-slide__wrapper {
      position: absolute;
      bottom: 4.4rem;
      padding: 0 2.2rem;
    }
  }

    &__description {
      padding-right: 5rem;
      margin-bottom: 1.5rem;
      color: #fefefe;
    }

    &__btn-wrapper {
      display: flex;
    }

    &__watch {
      position: relative;
      display: flex;
      align-items: center;
      width: 11.3rem;
      margin-right: 1rem;
      padding: .6rem 0 .4rem 2.6rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-decoration: transparent;
      text-transform: uppercase;
      color: #4BD8B5;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2.4rem;
        height: 2.4rem;
        background: url("../../../../assets/icons/play-green.svg");;
      }

      &:hover {
        opacity: .8;
      }

      &:active {
        opacity: .5;
      }
    }
}
